
.font-description{
    font-family: 'Gentium Book Plus', serif;
    margin: 50px 50px 0px 50px;
}

.gif-img{
    display: flex; 
    justify-content: center;
    // width: 100%;
    margin-top: 10%;

    img{
        max-width: 100%;
        height: auto;
    }
    
}

