
<div class="form-container">
    <form [formGroup]="signupForm" (ngSubmit)="registerUser()">
      
    <div class="title">
      <h3>SIGN UP</h3>
    </div>

      <div class="field">
        <label class="label">Username</label>
          <div class="control has-icons-left has-icons-right">
            <input class="input is-success form-control" type="text" placeholder="Insert your userName 🏋️‍♀️" value=""  formControlName="name">
        <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
        </span>
      </div>
        <div class="help is-success" *ngIf="!signupForm.get('name')?.valid && (signupForm.get('name')?.dirty || submitted)">
        <p>Name must be between 3 and 35 characters</p>
        </div>
    </div>
  
    <div class="field">
      <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input is-danger form-control" type="email" placeholder="Write your mail 📧" value="" formControlName="email">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
          <div class="help is-danger" *ngIf="!signupForm.get('email')?.valid && (signupForm.get('email')?.dirty || submitted)">
          <p>Invalid email</p>
          </div>
    </div>

  <div class="field">
    <label class="label">Password</label>
      <div class="control has-icons-left has-icons-right">
        <input type="password" class="input is-hovered form-control" formControlName="password" placeholder="Last step 🔚" required>
          <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
          </span>
        <span class="icon is-small is-right">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
      </div>
        <div class="help is-danger" *ngIf="!signupForm.get('password')?.valid && (signupForm.get('password')?.dirty || submitted)">
        <p>Invalid password, must have min length of 3 positions</p>
        </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-success is-light" type="submit" [disabled]="!signupForm?.valid" >Submit</button>
    </div>
      
  </div>
  <div class="control">
  <p class="field-primary">Already have an account?</p>
  <a class="button is-warning is-light" href="/signin"><h4>Signin</h4></a>
  </div>
</form>
</div> 
