.background-homeGif {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;  
    background: url('../../../../../assets/homeImage/home.gif') ;
    left: 0px;
    z-index: -1;

    
    // height: 100vh;   
    // center no-repeat #fff;
    // no-repeat;
    // top: 0px;
    // z-index: 999999999;
}