<div class="gif-img">
  <img src="../../../../../assets/arrowPage/clavado.gif" alt="gifclavado">
</div>


<div class="font-description">
  <p>La salida de agarre en natación es uno de los aspectos más relevantes para conseguir alcanzar un buen tiempo final de prueba. En este artículo os mostraremos un ejemplo para que podáis observar de forma detallada la salida agarre en agujero en el estilo crol, lo que popularmente se conoce como saltar al agua de cabeza.
    ¿Cómo realizar la entrada al agua? Primero, es importante definir un sistema de categorías basado en las fases de la salida en el poyete y en las categorías a observar durante cada fase, que son cabeza, tronco, extremidades superiores, manos, extremidades inferiores y pies.</p>
</div>

<div class="gif-img">
  <img src="../../../../../assets/arrowPage/virajeFrontal.gif" alt="viraje">
</div>

<div class="font-description">
  <p>El volteo es parte de un buen aprendizaje en la natación. A muchas personas les resulta incómodo y poco práctico realizar el giro cada vez que llegan a la pared, pero con un poco de práctica se puede aprender a realizarlo correctamente.
    Para empezar, el viraje aporta velocidad de nado para cualquier distancia, ya que el impulso en la pared proporciona unos metros a mayor velocidad.
    Realizando el viraje es más fácil mantener un ritmo constante, al menos una vez que se tenga dominado, ya que no es necesario pararse en la pared, tomar aire y volver a comenzar el nuevo largo de la piscina.</p>
  </div>

<div class="gif-img">
  <img src="../../../../../assets/arrowPage/virajeBack.gif" alt="viraje">
 
</div>


<div class="font-description">
      
      <p>Un volteo correcto no se limita únicamente al momento en el que los pies entran en contacto con la pared. El giro o volteo es, como todo en la natación, un conjunto de técnicas que deberán ser practicadas repetidamente de forma analítica y por partes para ser aprendida.</p>
      </div>