<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand ">
      <a class="navbar-item " href="">
        <img src="../../../../assets/menuImgs/logo5.png" width="40" height="28">
      </a>
  
      <!-- #navBurger and #navMenu view queries. -->
      <a (click)="toggleNavbar()" role="button" class="navbar-burger" #navBurger aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      
      </a>
    </div>
  
    <div id="navbarMobile" class="navbar-menu " #navMenu click="">
      <div class="navbar-start">
      <!-- ALWAYS SHOW THE LINK, THE USER DONT HAVE TO STAY LOG IN OR REGISTER (so always show)  -->
        <a class="navbar-item " href="">
          Home
        </a>
   
        <a class="navbar-item" href="/croll"
        *ngIf=" this.authService.isLoggedIn">
          Libre
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link ">
            More
          </a>
  
          <div class="navbar-dropdown">
          
            <a class="navbar-item" *ngIf=" this.authService.isLoggedIn" href="/back">
              Espalda
            </a>
            <!-- dont show link is doesnt logged ( show LINK only if the user had log in )-->
            <a class="navbar-item" *ngIf=" this.authService.isLoggedIn" href="/frog">
              Pecho
            </a>
          
            <a class="navbar-item" *ngIf=" this.authService.isLoggedIn" href="/butterfly">
              Mariposa
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item" href="/accesories">
              Accesorios
            </a>
            <a class="navbar-item" href="/arrow">
              Tips💧
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary is-light" routerLinkActive="active" routerLink="signup" *ngIf="! this.authService.isLoggedIn">
              Registrarse
            </a>
            <a class="button is-light is-info" *ngIf="! this.authService.isLoggedIn" routerLinkActive="active" routerLink="signin">
              <strong>Inicia sesión</strong>
            </a>
            <a class="button is-light is-danger" (click)="logout()" *ngIf=" this.authService.isLoggedIn" routerLinkActive="active" routerLink="signin">
              Cierra sesión
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>