<div class="card">
  
  <figure class="image">
    <img class="is-rounded" src="../../../../../assets/accesoriesPage/aletasNado-gif.gif" alt="gifNadoConAletas">
  </figure>

  <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-96x96">
            <img src="../../../../../assets/accesoriesPage/aletasMano.jpg" alt="Placeholder image" >
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">Aletas de mano o Palas</p>
          <div class="subtitle is-6">
            Las palas no son muy recomendables para principiantes que aún no tienen una correcta técnica de estilo, ya que el uso indiscriminado de palas podría deteriorar aún más la técnica. Por este motivo las suelen usar los nadadores cuya técnica es buena y desean ganar algo de fuerza. Tampoco es muy recomendable su uso para niños debido a su escaso desarrollo muscular.
          </div>
        </div>
    </div>

    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-96x96">
            <img src="../../../../../assets/accesoriesPage/aletas.png" alt="Placeholder image" >
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">Aletas largas</p>
          <div class="subtitle is-6">
            Sin duda, el uso de las aletas en la piscina gana más adeptos cada día. La principal razón de esto es que aportan un considerable aumento en la velocidad de nado. Pero además, las aletas tienen otras funciones muy interesantes en la práctica de la natación, ya que tienen grandes beneficios, tanto para los principiantes como para los nadadores experimentados o para entrenamientos de alto rendimiento.
          </div>
        </div>
      </div>

      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-96x96">
              <img src="../../../../../assets/accesoriesPage/gafas.jpg" alt="Placeholder image" >
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">Gafas</p>
            <div class="subtitle is-6">
              A la hora de comprar unas gafas siempre nos hemos planteado algunas cuestiones que de no ser acertadas, podrían darnos ciertos dolores de cabeza. Elegir las gafas más adecuadas, según nuestros objetivos, es todo un reto que hace dudar incluso a nadadores experimentados.
            </div>
          </div>
        </div>

        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-96x96">
                <img src="../../../../../assets/accesoriesPage/bañador.png" alt="Placeholder image" >
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">Bañador</p>
              <div class="subtitle is-6">
                Sobra decir que es necesario, pero no sirve cualquier bañador para practicar la natación. Lo primero que tienes que buscar en un bañador es que te sientas cómodo con él y lo segundo asegurarte que tienes la máxima libertad de movimientos. Lo normal es llevarlo ligeramente ajustado para que el bañador no recoja más agua de lo normal, lo cuál significaría un freno al avance y un mayor esfuerzo.
              </div>
            </div>
          </div>

          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-96x96">
                  <img src="../../../../../assets/accesoriesPage/gorro.png" alt="Placeholder image" >
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-4">Gorro</p>
                <div class="subtitle is-6">
                  Sobra decir que es necesario, pero no sirve cualquier bañador para practicar la natación. Lo primero que tienes que buscar en un bañador es que te sientas cómodo con él y lo segundo asegurarte que tienes la máxima libertad de movimientos. Lo normal es llevarlo ligeramente ajustado para que el bañador no recoja más agua de lo normal, lo cuál significaría un freno al avance y un mayor esfuerzo.
                </div>
              </div>
            </div>          

            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-96x96">
                    <img src="../../../../../assets/accesoriesPage/tabla.png" alt="Placeholder image" >
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">Tabla</p>
                  <div class="subtitle is-6">
                    Sobra decir que es necesario, pero no sirve cualquier bañador para practicar la natación. Lo primero que tienes que buscar en un bañador es que te sientas cómodo con él y lo segundo asegurarte que tienes la máxima libertad de movimientos. Lo normal es llevarlo ligeramente ajustado para que el bañador no recoja más agua de lo normal, lo cuál significaría un freno al avance y un mayor esfuerzo.
                  </div>
                </div>
              </div>

              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-96x96">
                      <img src="../../../../../assets/accesoriesPage/pullbuoy.png" alt="Placeholder image" >
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-4">Pullbuoy</p>
                    <div class="subtitle is-6">
                      Junto con la tabla, el pull buoys, es el accesorio básico de aprendizaje o entrenamiento. Existen multitud de formas y tamaños y generalmente están fabricados de espuma de polietileno suave para reducir el nivel de fricción con la piel.
                    </div>
                  </div>
                </div>
            
              
                <div class="card-content">
                  <div class="media">
                    <div class="media-left">
                      <figure class="image is-96x96">
                        <img src="../../../../../assets/accesoriesPage/barra.png" alt="Placeholder image" >
                      </figure>
                    </div>
                    <div class="media-content">
                      <p class="title is-4">Barras de flotación</p>
                      <div class="subtitle is-6">
                        Existen varios tipos: las flexibles y conocidas por los niños como "churro", o "bastones" y las fijas. Las primeras son una barra de espuma flexible de diferentes longitudes y diámetro. Se usan entre los brazos, entre las piernas, en el cuello en posición de espalda, como tabla cogiendo los dos extremos, y un sin fin de opciones. Están destinadas especialmente a la enseñanza de los más peques, tanto fuera del agua como dentro, pero es un accesorio muy bien recibido por alumnos adultos.
                      </div>
                    </div>
                  </div>

</div>